# set token of ai platforms
DEEPSEEK_API_KEY=""
SISI_API_KEY=""

# set parameters of sisi data api
SISI_API_APP_ID=""
BCI_APP_ID=""
BCI_BASE_URL=""
BCI_SECRET_KEY=""

# set token for dify
DIFY_API_KEY=""
DIFY_CHATFLOW_URL="http://localhost:7080/v1"