# set token for ai platforms
DEEPSEEK_API_KEY=""
SISI_API_KEY=""

# BCI API Credentials
BCI_APP_ID=""
BCI_SECRET_KEY=""
BCI_BASE_URL=""

# Dify Integration
DIFY_API_KEY=""
DIFY_CHATFLOW_URL="https://api.dify.ai/v1"