ruptures
pytest
requests
python-dotenv
mcp>=1.1.0
fastmcp
matplotlib
flask
pymysql
matplotlib
numpy==1.26.4
pandas==2.1.4
jupyterlab
pykml
pyodbc
geoalchemy2
plotly
shapely
jupyter
tqdm
pandarallel
scikit-learn
pymssql
pyarrow
pymysql
SQLAlchemy==1.4.54
python-dotenv
geopandas
cryptography
pytest
numba
pyspark==3.5.1
delta-spark==3.1.0
fastapi
uvicorn
httpx
